.hero-img{
    background-image: url('https://scontent.fcmb1-2.fna.fbcdn.net/v/t39.30808-6/329362139_502500965202874_275451664523911065_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=730e14&_nc_ohc=eAQrhoJ1MoEAX_jB_zr&_nc_ht=scontent.fcmb1-2.fna&oh=00_AfCJBKfjSYZHNn_LE9K_hxKX9HlzcLikCzTro-iSEB65WA&oe=643121F6');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }