.hero-img{
    background-image: url('https://scontent.fcmb2-2.fna.fbcdn.net/v/t39.30808-6/330188404_1164075324292716_1299328922558610717_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=qz9dKRH1WnEAX96pYkL&_nc_ht=scontent.fcmb2-2.fna&oh=00_AfBfzyvwLOxoZ7DiV2Ex3_HAq3_ONtnjCSINt7YqXwHQvg&oe=640665DC');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
}